

.page-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(255 238 238);
    flex-direction: row;
    gap: 10px;
  }
  
  .config-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    flex: 1;
  }
  
  .chat-container2 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
    height: 100vh;
    align-items: flex-end;
  }

  .gen-text{

    font-size: 70px;
    color: #000000;
    margin-top: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  @keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
  }
  
  
  .animate-pulse{
  
    animation: pulse 100s cubic-bezier(0.4, 0, 0.6, 1) 0;
  }
  
  .features{
  
  
  }
  
  .features-header{
  
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .features-list{
  
    font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  
  }